# Created by https://www.gitignore.io/api/code

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

# End of https://www.gitignore.io/api/code

node_modules
npm-debug.log

*.env
*.dev
.DS_STORE

Dockerfile
docker-compose.yml